html, body, * {
  /* background-color: red !important; */
}

.img-expanded {
  margin-top: 8px;
}

@media (max-width: 992px) {
  .filter-row {
    display: flex;
    flex-direction: column;
  }

  .filter-row .data-type-select, .filter-row .listing-type-select {
    width: 50%;
  }

  .filter-row > * + * {
    margin-top: 8px;
  }

  /* Make minimum text size for inputs 16px so it doesn't zoom in on mobile iOS */

  input, textarea, .custom-select-sm, select {
    font-size: 16px !important;
  }
}

/* make sure long titles get broken up so they don't break mobile layout */
a.text-body {
  word-break: break-word;
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }

  aside.sidebar {
    max-width: 400px;
  }

  main[role="main"] {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }

  .thumbnail-wrapper {
    max-width: 100px;
  }
}

.post-content {
  flex: 1;
}

.vote-bar {
  max-width: 75px;
}

.sidebar-content {
  max-width: 400px;
  flex: 1;
  padding: 0 15px;
}

.main-content {
  /* display: flex; */
  flex: 1;
  width: 100%;
  max-width: 100%;
}

.post-listing-body {
  border: 1px solid #444;
  padding: 15px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .navbar-right {
    display: flex;
    align-items: center;
  }
  .navbar-right .nav-link {
    padding: 0;
  }

  .navbar-right .nav-icon {
    line-height: 1px;
  }

}

.image-upload-icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  .image-upload-icon {
    font-size: 40px;
  }

  .comment-expand-button {
    font-size: 16px
  }
}

/* images that are children of comment text that are children of
 elements with class comment-text-container */
.comment-text-container > p > img { 
  max-width: 300px;
  max-height: 300px;
}