:root {
  --chapo-primary: #DA1B9A;
  --chapo-secondary: #2030DF;
  --chapo-accent: #F3B90C;
  --chapo-success: #00bc8c;
}

/* helper classes */

.bg-secondary {
  background-color: var(--chapo-secondary) !important;
}

.bg-accent {
  background-color: var(--chapo-accent) !important;
}